main {
    position: relative;
    top: 50px;  
}

footer {
    margin-top: 100px;
}

.flash-message {
    font-size: 23px;
    background-color: #d12115;
    border: 3px solid #ed7a72;
    border-radius: 10px;
    padding: 20px;
    width: 90vw;
    position: fixed;
    top: 50px;
    left: 5vw;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.flash-message p {
    color: #fca39d;
    margin-left: 2px;
}

#dismiss-flash-message {
    background-color: #f5190a;
    border: none;
    font-size: 27px;
    padding: 10px 15px 6px 15px;
    border-radius: 10px;
    margin-left: auto;
}

#dismiss-flash-message:hover {
    background-color: #da180a;
}

#dismiss-flash-message:active {
    background-color: #c11509;
}


.from-calc-to-main-page-link {
    font-size: 23px;
    position: absolute;
    top: 20px;
    left: 30px;
    color: #FFFFFF;
}

.calc-btns {
    display: flex;
    flex-direction: column;   
    text-align: center;
    padding: 10px;
}

.calc-btn {
    width: 85vw;
    padding: 10px;
    background-color: #8C8C8C;
    border-radius: 10px;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 23px;
    cursor: pointer;
}

.cart-item {
    background-color: #262626;
    padding: 10px;
    border-radius: 10px;
}

.cart-item-name {
    width: 300px;
}

.component-name-and-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.component-icon {
    margin-top: 2px;
    margin-left: 2px;
    width: 20px;
    height: 20px;
}

.component-button, .remove-cart-item {
    display: block;
    margin-left: auto;
    border-radius: 10px;
    font-size: 23px;
    background-color: #575757;
    padding-left: 5px;
    border: none;
    cursor: pointer;
}

.component-desc-btn {
    z-index: 1;
    max-width: 100%;
}

.component-desc-btn:hover {
    text-decoration: underline;
}

.remove-cart-item {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: auto 30px 20px auto;
}

.component-button:hover, .remove-cart-item:hover {
    background-color: #404040;
}

.component-button:active, .remove-cart-item:active {
    background-color: #333333;
}

.desc {
    padding: 20px;
}

.fa-caret-up {
    padding: 10px;
}

.dropdown, .cart {
    background-color: #555555;
    border-radius: 0 0 10px 10px;
    width: 85vw;
    margin: 0 auto;
    margin-top: -10px;
}

.cart {
    border-radius: 10px;
    background: none;
}

.dropdown-btn, .cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}

.cart-item {
    flex-wrap: nowrap;
}

.cart-item {
    flex-wrap: wrap;
}

.name:hover {
    text-decoration: underline;
}

.dropdown-btn img, .cart-item img {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

.dropdown-btn p, .cart-item p {
    padding: 5px;
    align-self: center;
}

.dropdown-btn p:last-child, .cart-item p:last-child {
    font-size: 20px;
}

#clear-total-btn {
    padding: 10px;
    background-color: #8C8C8C;
    border: none;
    border-radius: 10px;
    font-size: 23px;
    cursor: pointer;
    margin: 3px;
}

#clear-total-btn:hover {
    background-color: #737373;
}

#clear-total-btn:active {
    background-color: #656565;
}

.total-cont {
    font-size: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

.total-cont p {
    align-self: center;
    margin-left: 5px;
}